extends layout

block content
  - var d = data
  div.container
    table.table.table-striped.table-bordered
      thead
        th 表名
        th 注释
      each val in d
        tr
          td= val.name
          td= val.comments
