extends layout

block content
  - var d = data
  div
    form(action='/index', method='get', role='form')
      .form-group
        input(name='tableName')
      button(type='submit').btn 提交
    table
      tr
        td 表名
        td 注释
      each val in d
        tr
          td= val.name
          td= val.comments
